CMakeLists.txt.user
CMakeLists_modified.txt
CMakeLists.txt

Thirdparty/BBS/CMakeLists.txt
Thirdparty/DBoW2/CMakeLists.txt
Thirdparty/g2o/CMakeLists.txt
Thirdparty/ORBSLAM_2.txt

Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

*.pyc
*.osa

Modules/Template/LaplacianMesh.h
Thirdparty/ORBSLAM_2/include/LoopClosing.h
